@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
  text-align: center;
  // margin-top: 100px;
}

.landing-buttons {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.landing-buttons > button {
  margin: 10px;
}

.landing-div {
  margin-top: 50px;
}


.card-body {
  color: black;
}

#viewOrdersDiv {
  display: flex;
  flex-flow: row wrap;
  // justify-content: flex-start;

}

.card-footer {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.orderCard {
 // display: flex;
 width: 18rem;
 margin: 10px;
}

.createOrderForm {
  width: 500px;
  margin: auto;
  margin-top: 20px;
}

.addItemForm {
  width: 500px;
  margin: auto;
  margin-top: 20px;
}